<ul class="nav no-print">
    <li class="nav-item"><a class="nav-anchor" href="{{ path("index") }}">Home</a></li>
    <li class="nav-item"><a class="nav-anchor" href="{{ path("cv") }}">CV</a></li>
    <li class="nav-item"><a class="nav-anchor" href="{{ path("dashboard") }}">Dashboard overview</a></li>
    <li class="nav-item"><a class="nav-anchor" href="{{ path("roadmap") }}">Roadmap</a></li>
</ul>