{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello World!</h1>
    <img src="https://web.archive.org/web/20090829023556im_/http://geocities.com/okitsugu/underconstruction.gif" alt="Under construction"/>
    <div>Best viewed in a browser</div>
{% endblock %}