{% extends 'base.html.twig' %}

{% block body %}
    <div class="index-content">
        <h2>Hello World!</h2>
        <div>Totally over-engineered personal webpage for hosting <a href="{{ path("cv") }}">a CV</a> and eventually various odds & sods like hobby projects, photos, etc. For those interested, back end is in Symfony 4, front end with some very basic Vue and a sprinkling of Turbolinks because why not?</div>
        <div>In a very Geocities kinda way, have some links to stuff:</div>
        <ul class="list-of-links">
            <li><a href="https://github.com/mloveday">My github profile</a></li>
            <li><a href="https://dashboard.milesloveday.com">A sample of my work</a> (please <a href="mailto:contactme@milesloveday.com">contact me</a> for access to anything over and above the landing page)</li>
        </ul>
        <div class="footer no-print">Best viewed in a reasonably modern browser of some kind</div>
    </div>
{% endblock %}