{% extends 'base.html.twig' %}

{% block body %}
    <div class="index-content">
        <h2>Hello World!</h2>
        <div>Totally over-engineered personal webpage for hosting <a href="{{ path("cv") }}">a CV</a> and eventually various odds & sods like hobby projects, photos, etc. For those interested, back end is in Symfony 4, front end with some very basic Vue and a sprinkling of Turbolinks because why not?</div>
        <div>In a very Geocities kinda way, have some links to stuff:</div>
        <ul class="list-of-links">
            <li class="link-item"><a href="{{ path("dashboard") }}">A write up</a> and <a href="https://dashboard.milesloveday.com">a demo version</a> of some of my work (please <a href="mailto:contactme@milesloveday.com">contact me</a> for access to anything over and above the landing page - this requires a Google account)</li>
            <li class="link-item"><a href="https://github.com/mloveday">My github profile</a></li>
            <li class="link-item"><a href="https://www.linkedin.com/in/miles-loveday-85882188">My LinkedIn profile</a></li>
        </ul>
        <div class="footer no-print">Best viewed in a browser of some kind</div>
    </div>
{% endblock %}