{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('react-adventure') }}
{% endblock %}

{% block body %}
    <div id="react-adventure-root"></div>
{% endblock %}

