@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    src: url("https://rsms.me/inter/font-files/Inter-Light.woff2?v=3.3") format("woff2"),
    url("https://rsms.me/inter/font-files/Inter-Light.woff?v=3.3") format("woff");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1.6rem;
    background: transparent;
}
html {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}
body {
    overflow: hidden;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}

#app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.header {
    height: 32px;
    border-bottom: 1px solid #ddd;
}

.site-wrapper {
    height: calc(100vh - 32px);
    position: relative;
}

.nav, .content {
    position: absolute;
    width: 100vw;
    height: 100%;
    overflow: auto;
    top: 0;
    transition: left 200ms linear;
}

.content {
    z-index: 0;
    padding: 8px;
}

.nav {
    z-index: 1;
    height: 100%;
    width: 320px;
    background: white;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 40px;
    border-right: 1px solid #ddd;
}

.site-wrapper.show-content .nav {
    left: -320px;
}

.site-wrapper.show-content .content {
    left: 0;
}

.site-wrapper.show-nav .nav {
    left: 0;
}

.nav-item .nav-anchor {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: start;
    padding: 0 8px;
    cursor: pointer;
}


.nav-item .nav-anchor:focus, .nav-item .nav-anchor:hover {
    background-color: #ddd;
}

.header {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
}

.nav-show-hide {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 8px;
    height: 100%;
}

.nav-show-hide:hover, .nav-show-hide:focus {
    background-color: #ddd;
}