.list-of-links {
    list-style-type: none;
    display: grid;
    grid-gap: 4px;

    .link-item {
        border: 1px solid #eee;
        padding: 4px;
        border-radius: 4px;
    }

    .anchor-with-image {
        display: flex;
        align-items: center;
    }

    .link-image {
        width: 64px;
        height: 64px;
        margin: 4px;
    }
}

.index-content {
    display: grid;
    grid-gap: 8px;
    max-width: 1280px;
    margin: 0 auto;
}