.roadmap-content {
  .roadmap-item {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 4px;
    border: 1px solid #ddd;
    padding: 4px;
  }

  .roadmap-title {
    font-weight: bold;
  }

  .roadmap-items, .roadmap {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 4px;
  }

  .todo {
    .roadmap-item {
      background: #ecc;
    }
    .roadmap-items .roadmap-item {
      background: #ebb;
    }
  }

  .complete {
    .roadmap-item {
      background: #cec;
    }
    .roadmap-items .roadmap-item {
      background: #beb;
    }
  }
}